{% extends "base.html" %}

{% block main %}
    <h2>Welcome!</h2>
    <ul>
        <li><a href="/cart/shop/">Go <b>shopping</b></a></li>
        <li><a href="/cart/orders/">See previous <b>orders</b></a></li>
        <li><a href="/analytics/samples/search/">Search data <b>samples</b></a></li>
        <li><a href="/analytics/stats/">Get some <b>statistics</b></a></li>
        <li><a href="/cart/clear_account/"><b>Clear</b> your account (of old orders &amp; analytics)</a></li>
    </ul>
{% endblock %}
