{% extends "base.html" %}

{% block main %}
    <h2>Welcome!</h2>
    <ul>
        <li><a href="/cart/shop/">Go <b>shopping</b></a></li>
        <li><a href="/cart/orders/">See previous <b>orders</b></a></li>
        <li><a href="/analytics/counters/">See <b>counters</b> (raw analytics data)</a></li>
        <li><a href="/analytics/stats/">Get some <b>statistics</b></a></li>
        <li><a href="/cart/clear_account/"><b>Clear</b> your account (of old orders &amp; counters)</a></li>
        <li><a href="/api/">Browse the <b>REST API</b></a></li>
    </ul>
{% endblock %}
