{% extends "base.html" %}

{% block main %}
    <h2>Shop</h2>
    <p>Select multiple products from each category using Control+Click, Shift+Click, Control+A, etc.</p>
    <form method="post" action="">
        {% csrf_token %}
        <select name="sku" multiple size="12">
            {% for category in categories %}
            <optgroup label="{{ category }}">
                {% for product in category.products.all %}
                <option value="{{ product.sku }}">{{ product }}</option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>
        <p>
            <button type="submit">Place Order</button>
        </p>
    </form>
{% endblock %}
