{% extends "base.html" %}

{% load analytics_tags %}

{% block main %}
    <h2>Analytics: Counter Search</h2>
    <p>
        "Counters" track the number of times certain events occur,
        like a particular SKU (or pair of SKUs) showing up in an order.
    </p>
    <p>
        This page allows you to search the database for counter objects,
        but probably what you really want to see are some
        <a href="/analytics/stats/">statistics</a>.
    </p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button type="submit">Search</button>
        </p>
    </form>
    {% if request.method == 'POST' and form.is_valid %}
        <hr>
        <h2>Results</h2>
        {% counters "SKU in Order" sku_in_order_counters %}
        {% counters "SKU is part of SKU Pair in Order" sku_pair_in_order_counters %}
    {% endif %}
{% endblock %}
