{% extends "base.html" %}

{% load analytics_tags %}

{% block main %}
    <h2>Analytics: Stats</h2>
    <p></p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button type="submit">Search</button>
        </p>
    </form>
    {% if request.method == 'POST' and form.is_valid %}
        <hr>
        <h2>Results</h2>
        <dl>
            <dt>Total 1</dt>
            <dd>{{ total1 }}</dd>
            <dt>Total 2</dt>
            <dd>{{ total2 }}</dd>
            <dt>Total Together</dt>
            <dd>{{ total_together }}</dd>
            <dt>Together as Percent of Total 1</dt>
            <dd>{{ together_over_total1|as_percent }}</dd>
            <dt>Together as Percent of Total 2</dt>
            <dd>{{ together_over_total2|as_percent }}</dd>
        </dl>
        <hr>
        <h2>Samples (for debugging the stats...)</h2>
        {% samples "Item 1 Placed" item1_placed_samples %}
        {% samples "Item 2 Placed" item2_placed_samples %}
        {% samples "Items Placed Together" items_placed_together_samples %}
    {% endif %}
{% endblock %}
