{% extends "base.html" %}

{% load analytics_tags %}

{% block main %}
    <h2>Analytics: Stats</h2>
    <p></p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button type="submit">Search</button>
        </p>
    </form>
    {% if request.method == 'POST' and form.is_valid %}
        <hr>
        <h2>Results</h2>
        <dl>
            <dt>Orders with SKU 1</dt>
            <dd>{{ total1 }}</dd>
            <dt>Orders with SKU 2</dt>
            <dd>{{ total2 }}</dd>
            <dt>Orders with both SKUs</dt>
            <dd>{{ total_both }}</dd>
            <dt>Probability of order containing SKU 2 given SKU 1</dt>
            <dd>{{ both_over_total1|as_percent }}</dd>
            <dt>Probability of order containing SKU 1 given SKU 2</dt>
            <dd>{{ both_over_total2|as_percent }}</dd>
        </dl>
        <hr>
        <h2>Counters Used (for debugging the stats...)</h2>
        {% counters "Orders with SKU 1" sku1_in_order_counters %}
        {% counters "Orders with SKU 2" sku2_in_order_counters %}
        {% counters "Orders with both SKUs" sku_pair_in_order_counters %}
    {% endif %}
{% endblock %}
